In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
import os, sys 
sys.path.append(os.path.expanduser("~/git/butools/Python"))
import butools 
from butools.ph import *

In [4]:
# Test 
a, A = APHFrom2Moments([1, 2])
MomentsFromPH(a, A)

[1.0, 2.0, 6.0]

In [5]:
# Test 
a, A = RandomPH(order=2)
MomentsFromPH(a, A)

[1.0, 1.8827414661053736, 5.229946313520631]

In [6]:
def sample_coxian(degree, max_rate):
    lambdas = np.random.rand(degree) * max_rate 
    ps = np.random.rand(degree - 1) 
    A = np.diag(-lambdas) + np.diag(lambdas[:degree-1] * ps, k=1)
    alpha = np.eye(degree)[[0]]
    return alpha, A

In [7]:
# Example 
a, A = sample_coxian(degree=3, max_rate=1)
MomentsFromPH(a, A)

[5.695939926260853,
 64.88746328714498,
 1108.7852785531031,
 25262.297351043526,
 719462.6405544131]

### Stats of coxian samples

In [8]:
degree = 5
max_rate = 5
moments = []

for _ in range(10000):
    a, A = sample_coxian(degree=degree, max_rate=max_rate)
    m = MomentsFromPH(a, A)
    moments.append(m)

In [9]:
moments = pd.DataFrame(moments)
t = moments.describe()
t.columns = [f"Moment-{m+1}" for m in t.columns]
t

,Moment-1,Moment-2,Moment-3,Moment-4,Moment-5,Moment-6,Moment-7,Moment-8,Moment-9
count,10000.000000,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,2.589843,9.055129e+03,1.466287e+08,3.515502e+12,1.077544e+17,3.984194e+21,1.720807e+26,8.496591e+30,4.719989e+35
std,67.240682,7.654368e+05,1.411411e+10,3.483958e+14,1.075229e+19,3.982132e+23,1.720590e+28,8.496330e+32,4.719954e+37
min,0.200008,8.000620e-02,4.800558e-02,3.840595e-02,3.840744e-02,4.609071e-02,6.452950e-02,1.032512e-01,1.858593e-01
25%,0.267241,1.428360e-01,1.145151e-01,1.224127e-01,1.635687e-01,2.622740e-01,4.906334e-01,1.048941e+00,2.522883e+00
50%,0.401750,3.228060e-01,3.890619e-01,6.252225e-01,1.255916e+00,3.027385e+00,8.513764e+00,2.736324e+01,9.893864e+01
75%,0.783254,1.226975e+00,2.883100e+00,9.032802e+00,3.537491e+01,1.662453e+02,9.114866e+02,5.711407e+03,4.026137e+04
max,6172.539170,7.620048e+07,1.411051e+12,3.483908e+16,1.075228e+21,3.982132e+25,1.720590e+30,8.496330e+34,4.719954e+39